.switch{
	padding-top: 30px!important;
	padding-right: 10px;
	padding-left:10px;
}
.navTableControlLayout {
    padding: 1rem 2rem 0 2rem;
}
.sap-tablet .navTableControlLayout {
    padding: 1rem 1rem 1rem 1rem;
}
.sap-phone .navTableControlLayout {
    padding: 0 0 0 0;
}
.navTableItemLayout {
    min-height: 5rem;
    padding: 1rem 0 1rem 0;
}
.margin-left {
    margin-left: 2rem;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#container {
    margin-top: 0;
    padding-top: 0;
}
.tile-css {
    background-color: #fff;
    color: #646464;
}

.tile-css:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 4s;
}

.bg {
    background: url('../img/homepagebg.png');
	background-size: 100%;
}

h4 {
    font-weight: 600;
    margin-left: 2rem;
}
.padding-Left {
    padding-left: 2rem;
}

.myCustomTile {  
       margin: 0.5rem; 
  } 
  
.customButton {  
 	
       margin: 0.9rem;
       text-align: center;
  } 
  
.customTileSize div {
	font-size: 30px !important;
}
.bgStyle {
    background: #ffffff url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Man_chris_kempson_01.svg/1098px-Man_chris_kempson_01.svg.png") no-repeat center bottom;
    position: relative;
    background-size: 80% 80%;
}
.bgStyle .team5Panel {
    position: absolute;
    bottom: 50px;
}
.team5Panel .sapMPanelContent {
    width: 30%;
    margin: 10px auto;
}
.bordersForLabels {
    border-style: solid;
    border-width: 2px;
}
.topright {
    position: absolute;
    top: 8px;
    font-size: 36px;
    text-align: right;
}
.topleft {
    position: absolute;
    top: 8px;
    font-size: 36px;
    text-align: left;
}


.sapUiSizeCompact .sapMBtnInner.sapMBtnText {
	background-image: none;
}

.padding-Left {
    padding-left: 2rem;
}
.endline
{
padding-right : 100px;
}
.leftalign
{
padding-left : 50px;
}


.myCustomTile {  
       margin: 0.5rem; 
  } 
  
.customButton {  
 	
       margin: 0.9rem;
       text-align: center;
  } 
  
.customTileSize div {
	font-size: 30px !important;
}
.bgStyle {
    background: url('../img/007.png') no-repeat center bottom;
    position: relative;
    background-size: 80% 80%;
}
.bgStyle .team5Panel {
    position: absolute;
    bottom: 50px;
}
.team5Panel .sapMPanelContent {
    width: 30%;
    margin: 10px auto;
}
.bordersForLabels {
    border-style: solid;
    border-width: 2px;
}
.topright {
    position: absolute;
    top: 8px;
    font-size: 36px;
    text-align: right;
}
.topleft {
    position: absolute;
    top: 8px;
    font-size: 36px;
    text-align: left;
}
.box div span {
  background: #abbdc9;
  background-image: -webkit-linear-gradient(top, #abbdc9, #abbdc9);
  background-image: -moz-linear-gradient(top, #abbdc9, #abbdc9);
  background-image: -ms-linear-gradient(top, #abbdc9, #abbdc9);
  background-image: -o-linear-gradient(top, #abbdc9, #abbdc9);
  background-image: linear-gradient(to bottom, #abbdc9, #abbdc9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.box div {
    background-color: transparent !important;
    color: white;
    border: none;
    outline: none;
}

.customPerson {
    width: 275px;
    height: 200px !important;
}

.sapUiSizeCompact .sapMBtnInner.sapMBtnText {
	background-image: none;
}

.customPersonDiv {

	 align-self: flex-end;
}

.myButton {
	-moz-box-shadow: 0px 0px 0px 0px #276873;
	-webkit-box-shadow: 0px 0px 0px 0px #276873;
	box-shadow: 0px 0px 0px 0px #276873;
	background-color:#599bb3;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:31px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.box:hover div span {
  background: #8496a1;

  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/* Background Reference: http://www.thetahealing-muenchen.com/helping-hand.jpg*/